:root{
    --primary:#000;
    --secondary:#fff;
    --shadow:5px 10px 18px #ffffff8b;
    --fontprimary:18px;

}
html,body{
    scroll-behavior: unset !important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
/* ======================== navbar start here ========================= */
.nav{
    padding: 30px 0;
    background-color: var(--primary);
    box-shadow: var(--shadow);
}
.menu-bar i{
    color: var(--secondary);
    font-size: var(--fontprimary);
    transition: all linear 0.3s;
}
.nav-logo h1{
    color: var(--secondary);
    font-size: 45px;
}
.nav-item a{
    color: var(--secondary);
    font-size: var(--fontprimary);
    text-transform: uppercase;
    padding: 10px 35px;
    border-radius: 8px;
    font-weight: 400;
}
.nav-item a:hover{
    color: var(--secondary);
    box-shadow: var(--shadow);
}
.nav.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    padding: 10px 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}

/* ================ color swicher operation start here ================== */
#btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}
#btn i{
    color: var(--secondary);
    font-size: var(--fontprimary);
    cursor: pointer;
}
.white .nav{
    background-color: red !important;
    
}
/* =========================== banner part start here=========================== */
#banner{
    padding: 100px 0;
    background-color: var(--primary);
}
.banner-wrapper{
    display: flex;
    justify-content: space-between;
}
.owner-img{
    height: 500px;
    width: 500px;
    overflow: hidden;
    position: relative;
    position: relative;
}
.owner-img:hover{
    box-shadow: var(--shadow);
}
.owner-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #33ccffbe 0%, #ff99cc 100%);
    opacity: 0;
    transition: all linear 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay a{
    color: var(--secondary);
    font-size: var(--fontprimary);
    font-weight: 700;
    padding: 10px 25px;
    background-color: #000;
    border-radius: 8px;
    transition: all linear 0.3s;
}
.overlay a:hover{
    background-color: var(--secondary);
    color: #000;
}
.owner-img .overlay:hover{
    opacity: 1;
}
.owner-details{
    width: 500px;
}
.owner-details h1{
    color: var(--secondary);
}
.owner-details h3{
    color: var(--secondary);
    padding: 20px 0;
}
.owner-details p{
    color: var(--secondary);
    line-height: 22px;
    font-size: var(--fontprimary);
}
.common-btn{
    padding-top: 25px;
    text-align: center;
}
.common-btn a{
    padding: 20px 35px;
    color: var(--secondary);
    text-transform: capitalize;
    font-family: sans-serif;
    border-radius: 8px;
    transition: all linear 0.3s;
    font-size: 22px;
}
.common-btn a:hover{
    box-shadow: var(--shadow);
}
.social-icon{
    margin-top: 50px;
    text-align: center;
}
.social-icon i{
    font-size: var(--fontprimary);
    padding: 15px 15px;
    border-radius: 50%;
    color: var(--secondary);
    background-color: var(--primary);
    transition: all linear 0.3s;
}
.social-icon i:hover{
    box-shadow: var(--shadow);
}
/* =========================== Portflio part start here=========================== */
#portfloio{
    background-color: var(--primary);
    border-top: 2px solid red;
}
.common-heading{
    text-align: center;
    padding: 45px 0;
}
.common-heading h1{
    padding: 25px 0;
    font-size: 40px;
    font-weight: 600;
    color: var(--secondary);
}
.common-heading h4{
    text-transform: capitalize;
    font-size: var(--fontprimary);
    font-weight: 500;
    font-family: sans-serif;
    color: var(--secondary);
   
}
.mixitup-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    cursor: pointer;
    padding-bottom: 25px;
}
.mixitup-menu button{
    padding: 10px 25px;
    color: var(--secondary);
    background-color: #000;
    border: none;
    font-size: var(--fontprimary);
    font-weight: 400;
    transition: all linear 0.3s;
    border-radius: 5px;
}
.mixitup-menu button:hover{
    box-shadow: var(--shadow);
}
.fitures{
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    padding: 30px 0;
    justify-content: center;
    cursor: pointer;
    background-color: var(--primary);
}
.fitures-img-box{
    height: 160px;
    width: 300px;
    overflow: hidden;
}
.fitures-img-box img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* =========================== blog part start here=========================== */

#blog{
    padding: 80px 0;
    background-color: var(--primary);
    border-top: 2px solid red;
}
.blog-main{
    height: 450px;
    width: 380px;
    background-color: var(--primary);
    transition: all linear 0.3s;
    flex-wrap: wrap;
    border-radius: 25px;
} 
.blog-main:hover{
    box-shadow: var(--shadow);
}
.blog-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin: 0 auto;
}
.blog-img{
    width: 100%;
    height: 200px;
    background-color: blue;
    overflow: hidden;
}
.blog-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.blog-details{
    padding: 15px 15px;
    color: var(--secondary);
}
.blog-details h1{
    font-size: var(--fontprimary);
    padding-bottom: 25px;
}
.blog-details p{
    font-size: var(--fontprimary);
    line-height: var(--fontprimary);
}
/* =========================== resume part start here=========================== */

#resume{
    padding: 80px 0;
    background-color: var(--primary);
    border-top: 2px solid red;
}
.resume-wrapper{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.education{
    width: 580px;
    background-color: var(--primary);
}
.education h1{
    color: #fff;
    padding-left: 25px;
}
.details{
    padding: 25px 0 25px 25px;
    border-bottom: 1px solid var(--secondary);
    transition: all linear 0.3s;
}
.details h2,p{
    color: var(--secondary);
}
.details h2{
    padding: 15px 0;
}
.details:hover{
    box-shadow: var(--shadow);
    
}
.experience{
    width: 580px;
    background-color: #000000e0;
}
.experience h1{
    color: var(--secondary);
    padding-left: 25px;
   
}
/* =========================== typed js cursor design part start here=========================== */

.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}
.typed{
    color: #fcba03;
    font-style: italic;
}
/*Removes cursor that comes with typed.js*/
.typed-cursor{
   opacity: 0;
	display: none;
}
/*Custom cursor animation*/
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
/* =========================== form part start here=========================== */

#contact{
    padding: 100px 0;
    background-color: var(--primary);
    border-top: 2px solid red;
}
.form{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: var(--secondary);
}
.form-label{
    color: var(--secondary);
    font-weight: 400;
    font-size: var(--fontprimary);
    text-transform: capitalize;
}
.email-box{
    width: 500px;
}
.text-box{
    width: 500px;
}
.form-btn{
    background-color: var(--secondary);
    color: var(--secondary);
    background: none;
    font-weight: 600;
    text-transform: uppercase;
    transition: all linear 0.3s;
    margin-top: 25px;
    text-align: center;
}
.form-btn:hover{
    box-shadow: 5px 10px 20px red;
    color: var(--primary);
    background-color: var(--secondary);
}
.contact-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* =========================== bottom to top btn part start here=========================== */
.bottom-to-top{
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bottom-to-top i{
    padding: 15px 15px;
    background-color: var(--secondary);
    border-radius: 50%;
    color: var(--primary);
    font-size: var(--fontprimary);
    cursor: pointer;
    transition: all linear 0.3s;
}
.bottom-to-top i:hover{
    box-shadow: 5px 10px 20px red;
    color: var(--primary);
}
/* =========================== copywrite part start here=========================== */
#copywrite{
    padding: 25px 0;
    background-color: var(--primary);
    border-top: 2px solid red;
}
#copywrite h1{
    text-align: center;
    font-size: var(--fontprimary);
    color: var(--secondary);
    text-transform: capitalize;
    font-weight: 400;
}
